server:
  port: 8082

spring:
  application:
    name: voter-service

  datasource:
    url: jdbc:postgresql://localhost:5432/vote_voterdb
    username: postgres
    password: kigali45
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    function:
      definition: userCreated;userUpdated;userDeleted

    stream:
      bindings:
        userCreated-in-0:
          destination: user-created
          group: voter-service-user-created
          contentType: application/json

        userUpdated-in-0:
          destination: user-updated
          group: voter-service-user-updated
          contentType: application/json

        userDeleted-in-0:
          destination: user-deleted
          group: voter-service-user-deleted
          contentType: application/json

        voterCreationSucceeded-out-0:
          destination: voter-creation-succeeded
          contentType: application/json

        voterCreationFailed-out-0:
          destination: voter-creation-failed
          contentType: application/json
        
        voterUpdateSucceeded-out-0:
          destination: voter-update-succeeded
          contentType: application/json

        voterUpdateFailed-out-0:
          destination: voter-update-failed
          contentType: application/json

      kafka:
        binder:
          brokers: localhost:9092
          auto-create-topics: false
          configuration:
            spring.json.trusted.packages: com.online.voting.events

management:
  health:
    kafka:
      enabled: true

logging:
  level:
    org.springframework.cloud.stream: DEBUG
    org.springframework.integration: DEBUG
    com.voting.voter.events: DEBUG
